#root {
    text-align: center;
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
}

/* App */
.app-container {
    display: flex;
}

/* Board */
.board {
    border: 20px;
    margin: 0 auto;
    display: grid; /* or inline-grid */
    gap: 0px;
    grid-auto-flow: row;
    grid-template-rows: repeat(8, 32px);
    grid-template-columns: repeat(8, 32px);
}

.board-light {
    width: 32px;
    height: 32px;
    background-color: green;
}

.board-dark {
    width: 32px;
    height: 32px;
    background-color: darkgreen;
}

/* Pieces */
.checker {
    width: 32px;
    height: 32px;
}

.checker-blackpawn {
    background-color: black;
}

.checker-redpawn {
    background-color: red;    
}

.checker-blackking {
    background-color: gold;
}

.checker-redking {
    background-color: silver;
}