#root {
    text-align: center;
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
}

.app-container {
    display: flex;
}

/* Board */
.board {

}

.board-light {
    width: 32px;
    height: 32px;
    background-color: green;
}

.board-dark {
    width: 32px;
    height: 32px;
    background-color: darkgreen;
}

/* Pieces */
.checker {
    width: 32px;
    height: 32px;
}

.checker-blackpawn {
    background-color: black;
}

.checker-redpawn {
    background-color: red;    
}

.checker-blackking {
    background-color: gold;
}

.checker-redking {
    background-color: silver;
}