.ui-container {
    display: block;
}

# Scoreboard
.sb-container {
    display: block;
}

# Chessboard
.cb-container {
    display: grid;
    gap: 0 0;
    grid-template-rows: 40px repeat(8, 70px) 40px;
    grid-template-columns: repeat(8, 70px);
    grid-auto-flow: row;
}

.cb-container-inner {
    display: grid;
    grid: 0 0;
    grid-template-rows: auto;
    grid-template-columns: repeat(8, auto);
    grid-auto-flow: row;
    align-items: stretch;
}

.cb-square {
    font-size: 200%;
    font-weight: bold;
    background-color: #b5915f;
    color: #000000;
    text-align: center;
}

# Grid Letter Mapping
.cb-header-inner {
    text-align: center;
    align-self: center;
}

.cb-top, .cb-bottom {
    display: grid;
    align-items: stretch;
    text-align: center;
}

.cb-top {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
    background: linear-gradient(0deg, rgb(95, 53, 25) 0%, rgb(105, 66, 12) 35%, rgba(166,107,0,1) 100%);
}

.cb-bottom {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 10;
    background: linear-gradient(180deg, rgb(95, 53, 25) 0%, rgb(105, 66, 12) 35%, rgba(166,107,0,1) 100%);
}

# Recolor alternating squares
.cb-square {}
.cb-square:nth-child(-2n+9),
.cb-square:nth-child(9) ~ div:nth-child(-2n+16),
.cb-square:nth-child(17) ~ div:nth-child(-2n+25), 
.cb-square:nth-child(25) ~ div:nth-child(-2n+32), 
.cb-square:nth-child(33) ~ div:nth-child(-2n+41), 
.cb-square:nth-child(41) ~ div:nth-child(-2n+48), 
.cb-square:nth-child(49) ~ div:nth-child(-2n+57), 
.cb-square:nth-child(57) ~ div:nth-child(-2n+64) {
    background-color: #542a13;
}