@import-normalize;
@import url(./fonts/roboto.css);
@import url(./fonts/tradeWinds.css);

body {
    display: block;
    margin: 0px auto;
}

.font-tw {
    font-family: 'Trade Winds';
    font-size: 40px;
}