body {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
    text-align: center;
}

.block-row {
    clear: both;
    width: 100%;
}

.block {
    float: left;
    width: 64px;
    height: 64px;
}

.shade-light {
    background-color: lightcoral;
}

.shade-dark {
    background-color: darkred;
}